.secret-garden a {
  text-decoration: none;
}

.art  {
  margin-left: 20px;
  transform: rotate(2deg);
}

.art:hover { transform: rotate(0deg); }

.picture-wire {
  margin-left: 50px;
  line-height: 13px;
}

.earth {
  bottom: 0;
  left: 0;
  background-color: olive;
  height: 4px;
  width: 400px;
}

.secret-garden {
  background-image: linear-gradient(to bottom, azure, azure, white, lavenderblush);
  margin-top: -25px;
  height: 200px;
  width: 400px;
  border: 1px solid black;
  display: block;
  position: relative;
  font-family: monospace;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.secret-garden > * {
  position: absolute;
}

.secret-garden *:hover {
  cursor: crosshair;
}

.turtle {
  z-index: 40000;
  left: 50%;
  bottom: 0;
  cursor: crosshair;
}

.turtle marquee {
  font-size: 20px;
}

.turtle .say {
  font-size: 12px;
  position: absolute;
  left: -9999px;
  bottom: 0;
}

.turtle:hover .say {
  cursor: help;
  left: -30px;
  display: block;
}

.rocks {
  height: 20px;
  line-height: 20px;
  bottom: 0px;
  text-wrap: nowrap;
  color: darkgray;
  bottom: 1px;
}

.rain {
  font-size: 6px;
  color: #bbb;
  top: -24px;
  left: 1px;
}

.rain-2 {
  left: 200px;
}

.rain-3 {
  top: -50px;
  left: 100px;
}

.rain-4 {
  top: -50px;
  left: 300px;
}

.rain-5 {
  top: -150px;
  left: 50px;
}

.rain-6 {
  top: -150px;
  left: 350px;
}

.tree {
  z-index: 999;
  font-size: 64px;
  line-height: 64px;
  bottom: 1px;
  left: 0;
}

.tree-2 {
  font-size: 96px;
  line-height: 96px;
  bottom: 1px;
  left: -150px;
  width: 550px;
}

.mountain {
  font-size: 136px;
  line-height: 136px;
  bottom: 3px;
  left: 0;
  height: 100px;
}

.mountain-2 {
  left: -30px;
  font-size: 176px;
}

.sig {
  text-shadow: 1px 1px 2px white;
  font-weight: bold;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 9px;
  bottom: 2px;
  right: 5px;
}

.sun {
  font-size: 40px;
  top: 10px;
  right: 45px;
  animation: spin 30s linear infinite;
  transform-origin: center center;
}

.sun-cloud {
  font-size: 50px;
  top: 10px;
  right: 30px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.bird {
  top: 0;
  left: 0;
  text-decoration: none;
  color: black;
  font-size: 14px;
  opacity: 0.8;
  z-index: 10000;
}
