
#cord {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12px;
  z-index: 999;
  pointer-events: none;

  background: #060;
  border-bottom: solid #262 2px;
  border-radius: 50%;

  --mask:
    radial-gradient(5px at 50% calc(100% + 4px), #0000 calc(99% - 1px), #000 calc(101% - 1px) 99%, #0000 101%)
      calc(50% - 6px) calc(50% - 2px + .5px) / 12px 4px repeat-x,
    radial-gradient(5px at 50% -4px, #0000 calc(99% - 1px), #000 calc(101% - 1px) 99%, #0000 101%)
      50% calc(50% + 2px) / 12px 4px repeat-x,
    radial-gradient(7px at 50% calc(100% + 5px), #0000 calc(99% - 1px), #000 calc(101% - 1px) 99%, #0000 101%)
      calc(50% - 8px) calc(50% - 2.5px + .5px) / 16px 5px repeat-x,
    radial-gradient(7px at 50% -5px, #0000 calc(99% - 1px), #000 calc(101% - 1px) 99%, #0000 101%)
      50% calc(50% + 2.5px) / 16px 5px repeat-x;

  mask: var(--mask);
}
