#light-switch {
  background-color: var(--background);
  border: 6px solid var(--background);
  color: var(--color);
  font-size: 7px;
  position: fixed;
  bottom: 0;
  right: 8px;
}

.light-switch-on  { display: block; }
.light-switch-off { display: none;  }

@media (prefers-color-scheme: dark) {
  .light-switch-on  { display: none;  }
  .light-switch-off { display: block; }
}

body.dark .light-switch-on  { display: none;  }
body.dark .light-switch-off { display: block; }

body.light .light-switch-on  { display: block; }
body.light .light-switch-off { display: none;  }
