:root {
  --background: #fff;
  --color: #222;
  --link: #00b;
  --art-frame: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001;
    --color: #FFe;
    --link: #58a6ff;
    --art-frame: var(--color);
  }
}

body.dark {
  --background: #001;
  --color: #FFe;
  --link: #58a6ff;
  --art-frame: var(--color);
}

body.light {
  --background: #fff;
  --color: #222;
  --link: #00b;
  --art-frame: var(--background);
}

body {
  margin: 1rem;
  color: var(--color);
  background: var(--background);
}

a, a:hover, a:visited { color: var(--link); }
section { margin: 1.5rem 0; }
h1, h2, h3, h4 { margin: 0; padding: 0; }
h1 { margin-bottom: 1.5rem; }
h2 { font-size: 18px; letter-spacing: 1px; }
h3 { font-weight: 500; }
h4 { margin-bottom: 0.5rem; }
ul { padding-left: 1rem; }
li { margin-bottom: 0.3rem; max-width: 80ch; }

footer {
  padding-top: 1.5rem;
  border-top: 1px dashed var(--color);
}

blockquote {
  background: var(--background);
  line-height: 2rem;
  padding: 1rem 1.5rem;
  margin: 0 0 1.5rem;
  text-align: end;
  letter-spacing: 1px;
  border: 1px solid var(--color);
  box-shadow: 4px 4px var(--color);
}

blockquote:hover {
  box-shadow:
     4px  4px color-mix(in srgb, var(--color) 100%, var(--background)  0%),
     8px  8px color-mix(in srgb, var(--color)  88%, var(--background) 12%),
    12px 12px color-mix(in srgb, var(--color)  75%, var(--background) 25%),
    16px 16px color-mix(in srgb, var(--color)  63%, var(--background) 37%),
    20px 20px color-mix(in srgb, var(--color)  50%, var(--background) 50%),
    24px 24px color-mix(in srgb, var(--color)  37%, var(--background) 63%),
    28px 28px color-mix(in srgb, var(--color)  25%, var(--background) 75%),
    32px 32px color-mix(in srgb, var(--color)  12%, var(--background) 88%);
}

#main {
  position: relative;
  display: flex;
  gap: 4rem;
}
