:root {
  --background: #fff;
  --color: #222;
  --link: #00b;
  --art-frame: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --color: #eee;
    --link: #58a6ff;
    --art-frame: var(--color);
  }
}

body { margin: 1rem; }
body, blockquote { background: var(--background); color: var(--color); }
blockquote { border: 1px solid var(--color); box-shadow: 4px 4px var(--color); }
a, a:hover, a:visited { color: var(--link); }
footer { border-top: 1px dashed var(--color); }
#secret-garden { box-shadow: 0 0 0 1px var(--art-frame); }

h1, h2, h3, h4 { margin: 0; padding: 0; }
h1 { margin-bottom: 1.5rem; }
h2 { font-size: 18px; letter-spacing: 1px; }
h3 { font-weight: 500; }
h4 { margin-bottom: 0.5rem; }
section { margin: 1.5rem 0; }
footer { padding-top: 1.5rem; }
ul { padding-left: 1rem;  }
li { margin-bottom: 0.3rem; max-width: 80ch; }
blockquote { line-height: 2rem;  padding: 1rem 1.5rem; margin: 0 0 1.5rem; text-align: end; letter-spacing: 1px; }
blockquote:hover {
  box-shadow:
     4px  4px color-mix(in srgb, var(--color) 100%, var(--background)  0%),
     8px  8px color-mix(in srgb, var(--color)  88%, var(--background) 12%),
    12px 12px color-mix(in srgb, var(--color)  75%, var(--background) 25%),
    16px 16px color-mix(in srgb, var(--color)  63%, var(--background) 37%),
    20px 20px color-mix(in srgb, var(--color)  50%, var(--background) 50%),
    24px 24px color-mix(in srgb, var(--color)  37%, var(--background) 63%),
    28px 28px color-mix(in srgb, var(--color)  25%, var(--background) 75%),
    32px 32px color-mix(in srgb, var(--color)  12%, var(--background) 88%);
}
