:root {
  --background: #fff;
  --color: #222;
  --link: #0000EE;
  --art-frame: var(--background);
}

  :root {
    --background: #222;
    --color: #eee;
    --link: #58a6ff;
    --art-frame: var(--color);
  }

body, blockquote {
  background: var(--background);
  color: var(--color);
}

blockquote { border: 1px solid var(--color); box-shadow: 4px 4px var(--color); }

a, a:hover, a:visited {
  color: var(--link);
}

.secret-garden {
  box-shadow: 0 0 0 1px var(--art-frame);
}

body { margin: 1rem; }
h1, h2, h3, h4 { margin: 0; padding: 0; }
h1 { margin-bottom: 1.5rem; }
h2 { font-size: 18px; letter-spacing: 1px; }
h3 { font-weight: 500; }
h4 { margin-bottom: 0.5rem; }
section { margin: 1.5rem 0; }
footer { border-top: 1px dashed lightgray; padding-top: 1.5rem; }
ul { padding-left: 1rem;  }
li { margin-bottom: 0.3rem; max-width: 80ch; }
blockquote { line-height: 2rem;  padding: 1rem 1.5rem; margin: 0 0 1.5rem; text-align: end; letter-spacing: 1px; }
blockquote:hover {
  box-shadow: 4px  4px #000,
  8px  8px #222,
  12px 12px #444,
  16px 16px #666,
  20px 20px #888,
  24px 24px #aaa,
  28px 28px #ccc,
  32px 32px #eee;
}

